<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="edu.cmu.sv.geocamdtn" android:versionCode="1"
	android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name=".CMUSVGeoCamDTN" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="edu.cmu.sv.geocamdtn.ACTION_RECEIVE_DTN_BUNDLE" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<receiver android:name=".CMUSVBroadcastReceiver">
			<intent-filter>
				<action android:name="edu.cmu.sv.geocamdtn.ACTION_RECEIVE_DTN_BUNDLE" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>		
		</receiver>
	</application>
	<uses-sdk android:minSdkVersion="8" />
</manifest> 